<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xys.libzxing">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:label="@string/zxing_bar_name" />
    </application>
</manifest>